.create-company {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-company h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  align-self: center;
}

.create-company form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input, textarea, select {
  height: 3rem;
  width: 20rem;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  margin-top: 5px;
  /* border: 1px solid red; */
  border-radius: 50px;
  background: grey;
  cursor: pointer;
}
textarea {
  resize: none;
}


.create-company button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #007bff;
  color: white;
}

input{
  background: grey;
  color: white;
}

::placeholder {
  color: white;
  align-self: center;
}

.field-divs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
 label{
  margin-left: 10px;
 }